<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Miner Munchies</title>
    <!-- Links my css style sheet to this html page -->
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="./../assets/stylesheets/w3.css" rel='stylesheet'  type="text/css"/>
    <link href="./../assets/stylesheets/bootstrap.min.css" rel='stylesheet'  type="text/css"/>
    <link href='./../assets/stylesheets/capstone.css' rel='stylesheet'  type='text/css'/>
</head>

<%- include ('./navbar'); -%>

<!-- Main content for the page -->
<body>

<h3> What are you looking for today?</h3>
<main>
    <center class='indexPics'>
    <a href="/restaurants">
        <img alt="Restaurant" src="./../assets/images/CFA.jpg" >
    </a>
    <a href="/vending">
        <img alt="VendingMachine" src="./../assets/images/VM.jpeg" >
    </a>
    </center>
    <p>Miner Munchies supplies our users with a list of all places that food is for sale on UNC Charlotte Campus</p>

  <%- include ('./footer'); -%>
</body>

</h3>
