<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Miner Munchies</title>
    <link rel="stylesheet" type="text/css" href="project.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="script.js"></script>

    <style>
        .checked {
            color: orange;
        }
    </style>

</head>
<body>

<div class="container">

    <header>
        <h1> Miner Munchies </h1>



        <div class="header_menu">


            <form action="#" method="post" name="loginForm" id="loginForm" class="login_form">

                <input type="text" name="username" id="username" placeholder="User name" value="">

                <input type="password" name="userpass" id="userpass" placeholder="Password" value="">

                <input type="submit" name="submitForm" value="Login">

            </form>
            <center>
                <a href="#">Sign-in</a> | <!-- go to sign-in/registration page form-->

                <a href="#">Search</a> | <!-- link to cart page -->

                <a href="#">Favorites</a> <!-- link to my order page -->

            </center>

</div>
</header>


                    <nav>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <br>
                            <li><a href="catalog.html">Resturants</a></li>
                            <br>
                            <li><a href="#">Vending Machines</a></li>
                            <br>
                            <li><a href="#">Wait Times</a></li>
                            <br>
                            <li><a href="#">Order Ahead</a></li>
                        </ul>
                    </nav>

    <article>

        <div class="productbox">
            <div class="producttitle"></div>

            <img src="images/DSC_5939.jpeg" style="width: 700px; height: 500px;" >



            <div class="producttitle"><i></i></div>
            <div class="producttitle"><div>


            <a href="myItems.html"><button type="button" class="btn">Save It!</button></a>

            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>

            <br>
            <br>
            <a href="#"><button class="button">Add to Cart</button></a>






        </div>

    </article>

    <footer class ="footer"> © 2020 Miner Munchies<br>
        <a href="https://validator.w3.org/check?uri=referer">Validate</a>
        <a href="https://jigsaw.w3.org/class-validator/check.referer">Validate CSS</a>
    </footer>

</div>

</body>

</html>
