<!doctype html>
<html lang='en'>

  <head>
    <link href="./../assets/stylesheets/w3.css" rel='stylesheet'  type="text/css"/>
    <link href="./../assets/stylesheets/bootstrap.min.css" rel='stylesheet'  type="text/css"/>
    <link href='./../assets/stylesheets/capstone.css' rel='stylesheet'  type='text/css'/>
    <title>Login</title>
  </head>

  <body class = 'login'>
    <%- include ('./navbar'); -%>
      <main>
          <div class = 'formWrapper'>
            <h3>Sign In</h3>
            <!-- This form allows the user to login if they have registered-->
              <form method='POST' action='/login'>
                  <label for = 'username'>Username:</label>
                  <input type = 'text' id = 'username' name = 'username' value = '<%= user.username %>'><br><br>
                  <label for = 'password'>Password:</label>
                  <input type = 'password' id = 'password' name = 'password' value = '<%= user.password %>'><br><br>
                  <input type = 'submit' name = 'submit'>
                  <p>Don't have an account? Register <a href = 'register'>here.</a></p>
              </form>
          </div>
      </main>
      <%- include ('./footer'); -%>
  </body>
</h3>
