<!doctype html>
<html>
  <head>
    <link href="./../assets/stylesheets/w3.css" rel='stylesheet'  type="text/css"/>
    <link href="./../assets/stylesheets/bootstrap.min.css" rel='stylesheet'  type="text/css"/>
    <link href='./../assets/stylesheets/capstone.css' rel='stylesheet'  type='text/css'/>
      <title>Campus Map</title>
  </head>

    <%- include ('./navbar'); -%>
      <main>
          <h3>
              Campus Map
          </h3>
          <!-- Copied directly from the uncc page-->
          <h3><iframe class="embed-responsive-item" frameborder="0" height="550" width="1000" scrolling="no" allow="geolocation" src="https://maps.uncc.edu/#/?nav=PLDbs&amp;ctr=35.30809,-80.73270000000002&amp;z=17&amp;blnd=t,outage&amp;vis=t,dcs-rest&amp;vis=f,trans-lrs&amp;navFlt=dcs-coffee,dcs-convenience,dcs-rest" width="640"></iframe></h3>
      </main>
      <%- include ('./footer'); -%>
  </body>
</html>
