<!doctype html>
<html lang="en">

  <head>
    <link href="./../assets/stylesheets/w3.css" rel='stylesheet'  type="text/css"/>
    <link href="./../assets/stylesheets/bootstrap.min.css" rel='stylesheet'  type="text/css"/>
    <link href='./../assets/stylesheets/capstone.css' rel='stylesheet'  type="text/css"/>
    <title>Vending</title>
  </head>

  <body>
    <%- include ('./navbar'); -%>
    <main>
        <h3>This Page is under construction
        </h3>
        <img src = './../assets/images/Norm.png' alt='norm'>
      </main>

      <%- include ('./footer'); -%>
  </body>
</html>
